@import url('https://fonts.googleapis.com/css2?family=Hi+Melody&family=Nanum+Pen+Script&display=swap');

.mainBody {
  background-color: white;
  color: blue;
  margin: 10px;
  font-family: Arial;
  text-align: center;
  width: 500;
}

.App {
  font-family: 'Hi Melody', cursive;
  background-color: "#eaeaea"
}